* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --primary-bg-color: #FFF8EF; /* Cream */
  --text-color: #353334;      /* Light Black */
  --primary-header-font: "Gasoek One", sans-serif;
  --primary-body-font: "Libre Caslon Display", serif;
  --primary-accent-font: "Limelight", sans-serif;
  --pink-color: #FF9491;
  --yellow-color: #FFC545;
  --blue-color: #A5DCFF;
  --green-color: #798B5C;
  --black-color: #353334; 
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--primary-bg-color);
}

main {
  background-color: var(--primary-bg-color);
}

/* fonts */ 
.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-display-regular {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

.hero {
  margin-top: 9rem;
}

/* nav */
#nav-bar {
  display: flex;
  flex: 0 0 100%;
  height: 7rem;
  background-color: var(--primary-bg-color);
  justify-content: space-around;
  text-align: left;        
  margin: 0 auto;
  box-shadow: none 5px none rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

#nav-bar a:hover {
  opacity: 55%;
}

nav ul {
  list-style: none;
  display: flex;   
  align-items: center;
}

ul {
  text-align: left;
  margin: 0 auto;
  font-family:"Libre Caslon Display", serif;
  font-size: 2rem;
}

li {
  padding-left: 7rem;
}

#logo {
  font-family: "Gasoek One", sans-serif;
  text-align: left;
  margin-left: -11rem;
  padding-right: 5rem;
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
h2 {
  background-color: var(--pink-color);
  color: var(--primary-color);
  width: 100%;
  max-width: 100%;
  font-size: 4rem;
  border-bottom: 0.8125rem solid var(--yellow-color);
  font-family: var(--primary-header-font);
  padding: 6px;
  height: 5rem;
  text-align: center;
}

#threshold {
  align: center;
}

#header1 {
  font-family: "Gasoek One", sans-serif;
  font-size: 12.5rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  opacity: 100%;
}

.header-texture {
  width: 100%;
  height: 11.3rem;

  opacity: 90%;
  margin-top: -2rem;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3)
}

.pattern1 {
  background-color: var(--primary-bg-color);
  font-size: 2.3rem;
  margin: 0 auto;
  text-align: center;
  font-family:"Libre Caslon Display", serif;
  color: rgb 53 51 52 0.9;
  margin-top: 10rem;
  padding-bottom: 13.5rem;
}

/* sections */

p {
  font-family: var(--primary-body-font);
  font-size: 1rem;
}

#threshold {
  align: center;
}

#pit {
  align: center; 
}

#pivot {
  align: center;
}

#process {
  align: center;
}

#future {
  align: center;
}


.answer {
  padding: 2rem;
  text-align: center;
  width: 60rem;
  margin: 0 auto;
  font-size: 1.5rem;
  padding-bottom: 3rem;
  background-color: var(--primary-bg-color);
}

.one {
  align: center;
}
/* footer */

footer {
  background-color: var(--primary-bg-color);
  text-align: center;
  margin: 0 auto;
  padding: 4.5rem;
}

.pattern2 {
  background-color: var(--primary-bg-color);
  font-size: 2.3rem;
  margin: 0 auto;
  font-family:"Libre Caslon Display", serif;
  color: rgb 53 51 52 0.9;
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-link:hover {
  opacity: 55%;
}

.footer-link2:hover {
  opacity: 55%;
}

.button {
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
}

.button-link {
  padding: 1rem;
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  background-color: var(--pink-color);
  border: 5px solid var(--yellow-color);
  border-radius: 10px;
  margin: 0 auto;
  align: center;
  color: black;
  max-width: 100%;
}

.button-link:hover {
  padding: 1rem;
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  background-color: #353334;
  border: 5px solid var(--yellow-color);
  border-radius: 10px;
  margin: 0 auto;
  align: center;
  color: var(--pink-color);
  max-width: 100%;
}


/* media querys */
@media (max-width: 800px) {
  #header-1 {
    color: black;
  }
  
  
html {
    margin-left: 232px;
}

  .pattern1 {
    display: none;
  }
  
  .pattern2 {
    display: none;
  }
  
  .texture {
    display: none;
  }
  
  /* nav */
  #nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;   
    height: 100vh;    
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    border-right: 1px solid #FFECD5;
  }
  
  
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
  }
  
  li {
    padding-left: 0;  
    text-align: center;
  }
  
  #logo {
    font-family: var(--primary-header-font);
    text-align: left;
    margin-left: 3rem;
    padding-right: 5;
    font-size: 4rem;
  }
  
  
  /* header */
  #header1 {
      font-size: 3rem;
      margin-left: 0;
      text-align: center;
    color: #000;
  }
  
  #header2 {
      font-size: 4rem;
      text-indent: 0;
      text-align: center;
      margin-left: 1rem;
  }
  
  h2 {
      width: 100%;
      font-size: 2rem;
      height: auto;
      text-align: center;
  }

  
section p {
      max-width: 100%;
      padding: 1rem;
      padding-top: 2rem;
      margin-top: 1rem;
  }
  
  .texture {
      display: none;
  }
 
  /* footer */
  footer {
      padding: 2rem;
  }
  
  
  
}