/* Design Tokens — Donnie Thurman's Portfolio */


/* refactor styles.css and add toggle button later*/

/* Color Tokens */
.brand colors {
  --brandcolors-pink20:#ff9491;
  --brandcolors-blue80:#a5dcff;
  --brandcolors-neutrals-10:#fff8ef;
  --brandcolors-neutrals-90:#353334;
  --brandcolors-yellow60:#ffc545;
  --brandcolors-green20:#798b5c;
}


.color-primative{
  --grey-grey00:#d7cfd3;
  --grey-grey10:#a19c9e;
  --grey-grey30:#716f70;
  --grey-grey50:#595658;
  --grey-grey90:#353334;
  --cream-cream00:#fff8ef;
  --cream-cream20:#ffdaaa;
  --cream-cream50:#ffc984;
  --blue-blue10:#f0f9ff;
  --blue-blue20:#dbf1ff;
  --blue-blue50:#c2e7ff;
  --blue-blue80:#a5dcff;
  --pink-pink00:#ffe8e8;
  --pink-pink10:#ffc3c1;
  --pink-pink20:#ff9491;
  --yellow-yellow10:#fff0d0;
  --yellow-yellow30:#ffdb8c;
  --yellow-yellow60:#ffc545;
}


:root {
  --primary-pink:#ff9491;
  --primary-blue:#a5dcff;
  --primary-yellow:#ffc545;
  --primary-bg-20:#fff8ef;
  --darkmode-bg-90:#353334;
  --darkmode-pinkd:#ff9491;
  --darkmode-yellowd:#ffc545;
  --darkmode-blued:#a5dcff;
}


/* Light mode  */ 
[data-theme="light"] {
  --background-color:var(--primary-bg-20);
  --text-color:var(--darkmode-bg-90);
  --accent-pink:var(--primary-pink);
  --accent-blue:var(--primary-blue);
  --accent-yellow:var(--primary-yellow);
}


/* Dark mode  */
[data-theme="dark"] {
  --background-color:var(--darkmode-bg-90);
  --text-color:var(--primary-bg-20);
  --accent-pink:var(--darkmode-pinkd);
  --accent-blue:var(--darkmode-blued);
  --accent-yellow:var(--darkmode-yellowd);
}


/* Typography Tokens */
:root {
  --textsize-S:15;
  --textsize-M:36;
  --textsize-L:48;
  --textsize-XL:64;
  --textsize-XXL:200;
  --fontfamily-header:Gasoek One;
  --fontfamily-accent:Limelight;
  --fontfamily-body:Libre Caslon Display;
  --fontweight-default:regular;
  --fontweight-medium:bold;
}


/* Spacing Tokens */
:root {
  --XL:40;
  --S:16;
  --XXL:56;
  --L:32;
  --M:24;
  --XS:8;
  --XXXL:64;
}

.nav {
  --darkmode:true;
}